<div class="mb-40">
    <div class="w-full flex justify-center items-center mt-3">
        <span class="mr-5 text-base">Sélectionner client: </span>
        <form class="">
            <input class="client_selection_input"
                   type="text"
                   id="selection_input"
                   placeholder="Saisir client"
                   [formControl]="control"
                   [matAutocomplete]="auto">
                   <label class="cursor-pointer" for="selection_input"><fa-icon class="relative right-5 z-0" [icon]="chevron_down"></fa-icon></label>
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let client of filteredClients | async" [value]="client">
                {{client}}
              </mat-option>
            </mat-autocomplete>
          </form>
    </div>
    <div>
        <div class="client_form">
            <div class="col-span-6 col-start-1">
                <div class="flex items-center">
                    <label for="name" class="client_form_label">
                        Nom:
                    </label>
                    <input type="text" name="name" id="name" class="client_form_input" placeholder="nom">
                </div>
            </div>
            <div class="col-span-3 col-start-7">
                <div class="flex items-center">
                    <label for="profession" class="client_form_label">
                        Profession:
                    </label>
                    <input type="text" name="profession" id="profession" class="client_form_input" placeholder="profession">
                </div>
            </div>
            <div class="col-span-3 col-start-1">
                <div class="flex items-center">
                    <label for="category" class="client_form_label">
                        Category:
                    </label>
                    <input type="text" name="category" id="category" class="client_form_input" placeholder="category">
                </div>
            </div>

            <div class="col-span-3 col-start-4">
                <div class="flex items-center">
                    <label for="tel" class="client_form_label">
                        Tel:
                    </label>
                    <input type="tel" name="tel" id="tel" class="client_form_input" placeholder="tel">
                </div>
            </div>
            <div class="col-span-3 col-start-7">
                <div class="flex items-center">
                    <label for="email" class="client_form_label">
                        Email:
                    </label>
                    <input type="email" name="email" id="email" class="client_form_input" placeholder="email">
                </div>
            </div>
            <div class="col-span-2 col-start-1">
                <div class="flex items-center">
                    <label for="address" class="client_form_label">
                        Address:
                    </label>
                    <input type="text" name="address" id="address" class="client_form_input" placeholder="address">
                </div>
            </div>

            <div class="col-span-2 col-start-3">
                <div class="flex items-center">
                    <label for="ville" class="client_form_label">
                        Ville:
                    </label>
                    <input type="text" name="ville" id="ville" class="client_form_input" placeholder="ville">
                </div>
            </div>
            <div class="col-span-2 col-start-5">
                <div class="flex items-center">
                    <label for="linkedin" class="client_form_label">
                        <fa-icon class="text-lg" [icon]="linked_icon"></fa-icon>
                    </label>
                    <input type="text" name="linkedin" id="linkedin" class="client_form_input" placeholder="linkedin">
                </div>
            </div>
            <div class="col-span-1 col-start-7">
                <div class="flex items-center">
                    <label for="cp" class="client_form_label">
                        CP:
                    </label>
                    <input type="text" name="cp" id="cp" class="client_form_input" placeholder="cp">
                </div>
            </div>
            <div class="col-span-2 col-start-8">
                <div class="flex items-center h-full">
                    <label for="notation" class="client_form_label">
                        Notation:
                    </label>
                    <div class="flex">
                        <fa-icon class="text-yellow-600 text-lg" [icon]="notation_icon"></fa-icon>
                    </div>
                </div>
            </div>

        </div>

        <div class="account_table_section">
            <table class="account_table td_line">
                <thead>
                <th colspan="5" class="h-8 tb">Tableau Suivi Compte</th>
                </thead>
                <tbody>
                <tr>
                    <td class="account_table_col td_line">Score Global</td>
                    <td class="account_table_col td_line">Ratios</td>
                    <td class="account_table_col td_line">Risques</td>
                    <td class="account_table_col td_line">Status</td>
                    <td class="account_table_col td_line">Plan d'investissement</td>
                </tr>
                <tr>
                    <td class="account_table_col"><fa-icon [icon]="score_icon" class="account_icon text-yellow-500"></fa-icon></td>
                    <td class="account_table_col"><fa-icon [icon]="ratio_icon" class="account_icon"></fa-icon></td>
                    <td class="account_table_col"><fa-icon [icon]="risk_icon" class="account_icon text-red-500"></fa-icon></td>
                    <td class="account_table_col"><fa-icon [icon]="status_icon" class="account_icon text-green-500"></fa-icon></td>
                    <td class="account_table_col"><fa-icon [icon]="eye_icon" class="account_icon"></fa-icon></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="notes_section">
            <table class="w-full td_line bg-gray-300">
                <thead>
                    <th colspan="6" class="h-8">
                        Notes
                    </th>
                </thead>
                <thead>
                    <tr class="notes_table_head2">
                        <th class="note_table_col1 td_line">
                            <div class="notes_head_title_container">
                                <span class="notes_head_title2">Date</span>
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 9l4-4 4 4m0 6l-4 4-4-4" />
                                </svg>
                            </div>
                        </th>
                        <th class="note_table_col2 td_line">
                            <div class="notes_head_title_container">
                                <span>Note</span>
                            </div>
                        </th>
                        <th class="note_table_col3 td_line">
                            <div class="notes_head_title_container">
                                <span class="notes_head_title2">Status</span>
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 9l4-4 4 4m0 6l-4 4-4-4" />
                                </svg>
                            </div>
                        </th>
                        <th class="note_table_col4 td_line">
                            <div class="notes_head_title_container">
                                <span>Dossier</span>                            
                            </div>
                        </th>
                        <th class="note_table_col5 td_line">
                            <div class="notes_head_title_container">
                                <span class="notes_head_title2">Offre</span>
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 9l4-4 4 4m0 6l-4 4-4-4" />
                                </svg>
                            </div>
                        </th>
                        <th class="note_table_col6 td_line">
                            <div class="notes_head_title_container">
                                <span class="notes_head_title2">Date</span>
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 9l4-4 4 4m0 6l-4 4-4-4" />
                                </svg>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let note of client.notes" class="bg-gray-100 text-center border-b text-sm text-gray-600">                        
                        <td class="note_table_col1 td_line">{{ note.creation_date }}</td>
                        <td class="note_table_col2 td_line text-left">{{ note.note }}</td>
                        <td class="note_table_col3 td_line">{{ note.status }}</td>
                        <td class="note_table_col4 td_line">
                            <div class="mr-auto">
                                {{ note.document_status }}
                            </div>
                            <!-- <div class="flex w-5">
                                <label class="cursor-pointer" for="file_upload"><fa-icon class="text-lg ml-1" [icon]="file_upload_icon"></fa-icon></label>
                                <input formControlName="document_link" class="hidden w-0" id="file_upload" type="file" />
                                <fa-icon class="text-lg ml-1" [icon]="search_icon"></fa-icon>
                            </div> -->
                         </td>
                        <td class="note_table_col5 td_line text-left">{{ note.offer }}</td>
                        <td class="note_table_col6 td_line">{{ note.offer_date }}</td>                            
                    </tr>
                </tbody>
            </table>

            <form [formGroup]="noteForm" (ngSubmit)="onSubmit()" class="pt-0 h-8 bg-white w-full flex">
                <div class="w-2/12">
                    <a href="" class="flex flex-row justify-around items-center py-0 px-0 w-full h-full">
                        <button type="submit" class="font-bold">Nouveau besoin</button>
                        <fa-icon class="bg-green-600 rounded text-lg w-7 h-7 text-center" [icon]="plus_icon"></fa-icon>
                    </a>
                </div>
                <div class="p-0 w-3/12"><input formControlName="note" class="notes_table_input w-full h-full note_table_form_element" type="text"></div>
                <div class="p-0 w-1/12">
                    <select formControlName="status" class="note_table_form_element w-full text-sm">
                        <option value="INPROGRESS" selected>En cours</option>
                        <option value="PENDING">En attente</option>
                        <option value="TREATED">Traite</option>
                    </select>
                    
                </div>
                <div class="p-0 flex w-2/12">
                    <select formControlName="document_status" class="note_table_form_element flex-1 text-sm">
                        <option value="INPROGRESS" selected>En cours</option>
                        <option value="PENDING">En attente</option>
                        <option value="TREATED">Traite</option>
                    </select>
                    <div class="p-1">
                        <label class="cursor-pointer" for="file_upload"><fa-icon class="text-lg ml-1" [icon]="file_upload_icon"></fa-icon></label>
                        <input formControlName="document_link" class="hidden" id="file_upload" type="file" />
                    </div>
                </div>
                <div class="p-0 w-3/12"><input formControlName="offer" class="notes_table_input w-full h-full note_table_form_element" type="text"></div>
                <div class="p-0 w-1/12">
                    <input formControlName="offer_date" class="notes_table_input w-full note_table_form_element h-full" type="date">
                </div>
            </form>
        </div>
    </div>
        
    <div class="grid gap-6 grid-cols-6 doc">
        <div class="col-span-4 col-start-1 flex flex-col">
            <div class="grid gap-x-1 gap-y-0 grid-cols-12 p-2 bg-gray-200 mt-20">
                <div class="col-span-12 flex justify-center font-bold pb-3">Dossier</div>
                <div class="col-span-4 col-start-7"><input class="doc_form_element" type="text"></div>
                <div class="col-span-4 col-start-1">Stratégie de démarrage</div>
                <div>
                    <label class="cursor-pointer" for="file_upload1"><fa-icon class="text-lg ml-1 p-1" [icon]="file_upload_icon"></fa-icon></label>
                    <input class="hidden" id="file_upload1" type="file" />
                </div>
                <div class="col-span-1 col-start-6"><fa-icon class="doc_icon" [icon]="eye_icon"></fa-icon></div>
                <div class="col-span-1 col-start-7">
                    <select name="strategy_status" id="" class="doc_form_element">
                        <option value="correct" selected><fa-icon class="select_icon" [icon]="check_icon"></fa-icon></option>
                        <option value="wrong"><fa-icon class="select_icon" [icon]="uncheck_icon"></fa-icon></option>
                    </select>
                </div>
                <div class="col-span-5 col-start-8 flex items-center pl-5">Demander complement</div>
                <div class="col-span-4 col-start-1">Plan de déploiement</div>
                <div>
                    <label class="cursor-pointer" for="file_upload2"><fa-icon class="text-lg ml-1 p-1" [icon]="file_upload_icon"></fa-icon></label>
                    <input class="hidden" id="file_upload2" type="file" />
                </div>
                <div class="col-span-1 col-start-6"><fa-icon class="doc_icon" [icon]="eye_icon"></fa-icon></div>
                <div class="col-span-1 col-start-7">
                    <select name="plan_status" id="" class="doc_form_element">
                        <option value="correct" selected><fa-icon class="select_icon" [icon]="check_icon"></fa-icon></option>
                        <option value="wrong"><fa-icon class="select_icon" [icon]="uncheck_icon"></fa-icon></option>
                    </select>
                </div>
                <div class="col-span-5 col-start-8"><input class="doc_form_element" type="text"></div>
            </div>
            <div class="flex justify-end mt-auto">
                <button class="doc_button bg-gray-200">Annuler</button>
                <button class="doc_button bg-indigo-200">Valider</button>
            </div>
        </div>
        <div class="col-span-2 col-start-5">
            <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions" class="charts"></highcharts-chart>
        </div>
    </div>

</div>
